@charset"utf-8";
/*header*/
#header{position: relative;}
#header>.menu{background-color:#0044af;}
#header>.menu>nav.util_menu{width: 1200px;height: 40px;margin: 0 auto;background-color:#0044af;}
#header>.menu>nav.util_menu>.umenu1{width: 380px;height: 40px;float: left;position: relative;}
#header>.menu>nav.util_menu>.umenu1>ul{}
#header>.menu>nav.util_menu>.umenu1>ul>li{float: left;background-color: #00163b;width: 120px;height: 40px;margin-right:5px; }
#header>.menu>nav.util_menu>.umenu1>ul>li:first-child{float: left;background-color:white;width: 120px;height: 40px;}
#header>.menu>nav.util_menu>.umenu1>ul>li:first-child a{color:#6a6a6a;}
#header>.menu>nav.util_menu>.umenu1>ul>li:hover{background-color: #fff;}
#header>.menu>nav.util_menu>.umenu1>ul>li>a:hover{color:#6a6a6a;}
#header>.menu>nav.util_menu>.umenu1>ul>li>a{display: block;font-weight:bold;padding: 0 32px;line-height: 40px;font-size:14px;color:white;text-align: center;}
#header>.menu>nav.util_menu>.umenu2{width: 300px;height: 40px;float: right;}
#header>.menu>nav.util_menu>.umenu2>ul{float: left;}
#header>.menu>nav.util_menu>.umenu2>ul>li{float: left;}
#header>.menu>nav.util_menu>.umenu2>ul>li:nth-child(2){padding-top:3px;}
#header>.menu>nav.util_menu>.umenu2>ul>li>a{float: left;padding:0 0 0 9px ;font-weight:bold;font-size:12px;line-height: 40px;color:white;}

nav.menu{background-color:white;position: relative;}
.menu .menu_w{height: 120px;width: 1200px;margin: 0 auto;position: relative;}
nav.menu .logo{position: absolute;padding-top:20px;margin-left: -25px;}
nav.menu ul{position: absolute;right: 0;}
nav.menu li{float: left;}
nav.menu li:last-child{padding-top:12px;margin-left:30px;}
nav.menu a{display: block;padding: 0 25px;line-height: 120px;font-size:18px;color:#464646;}

/*content*/
#content{background:url(../images/bg.png) no-repeat;background-size:cover;}
#content>.main_wrap{width: 1200px;margin:0 auto;padding: 80px 0;position: relative;}
#content .top_wrap{width: 1200px;height: 100px;margin-bottom:120px;}
#content .text{position: absolute;float: left;}
#content ul.image{width: 451px;float: right;}
#content ul.image>li{float: left;padding:0 0 0 17.5px;}
#content ul.image>li>a{float: left;display: block;color:white;}
#content ul.image>li>a>p{text-align: center;}
.section_wrap{width: 1200px;margin: 0 auto;margin-bottom: 20px;}
.section_wrap>ul{}
.section_wrap>ul>li{width: 25%;height: 225px;float: left;}
.section_wrap>ul>li>img{width: 900px;height: 450px;}
.section_wrap>ul>li:nth-child(1){width: 75%;height: 450px;}
.section_wrap>ul>li:nth-child(2){/*background-image: url(../images/ph02.png);*/width: 25%;height: 450px;}
.section_wrap>ul>li:nth-child(3){background-color: #00163b;/*background-image: url(../images/ph03.png);*/}
.section_wrap>ul>li:nth-child(4){background-color: #1651b7;}
.section_wrap>ul>li:nth-child(5){background-image: url(../images/ph04.png);}
.section_wrap>ul>li:nth-child(6){/*background-image: url(../images/ph005.png);*/}
.section_wrap>ul>li:nth-child(7){}
.section_wrap>ul>li:nth-child(8){width: 75%;}
/*content1*/
.slider_wrapper{position: relative;}
.slider_wrapper .prev_btn{position: absolute;top: 200px; left: 845px;}
.slider_wrapper .next_btn{position: absolute;top: 200px;}
/*content1 end*/
/*content2*/
.img_wrapper{position: relative;width: 300px;height: 450px;background-image: url(../images/ph022.png);overflow: hidden;}
.img_wrapper>ul{}
.img_wrapper li{}
/*.img_wrapper img{display: block;}*/
.img_w{width: 300px;height: 450px;position: absolute;background-color: #fff;}
.img_w:hover{transform:scale(1.2);}
/*.img_wrapper .img01{position: absolute;}*/
.img_wrapper .img02{position: absolute;top: 0px;}
.img_wrapper .img03{position: absolute;top: 340px;right: 90px;}
.img_wrapper .img03:hover{opacity:0.9}

.img_wrapper>ul>li>img{}
.img_wrapper>ul>li>img{}
/*content2end*/

/*content3*/
.link{}
.link>h2{color:white;margin-left:20px;margin-top: 20px;}
.link .link_wr{position: relative;}
.link ul>li{float: left;width: 81px;/*height: 65px;*/}
.link ul>li>a{display: block;margin: 32px -13px ;padding-left:50px ;}
.link p{display: block;color:white;font-size:12px;text-align: center;padding-left:4px;}
/*content3end*/
/*content4*/
.text{width: 300px;margin: 0 auto;padding:0 5px;}
.text ul.notice{}
ul.notice>li{line-height: 30px;font-size:13px;list-style-type:initial;color:white;}
ul.notice{width: 300px;margin-left: 30px;}
ul.notice a{color:white;}
ul.notice p{/*_line-height: 30px;padding:5px 20px;*/float: left;width: 175px;}
ul.notice span{text-align: left;}
.tx_wr{}
.text h2{color:white;padding: 20px;}
.tx_wr .line{border:1px solid white;margin:5px 15px;}

/*content6*/

.cam{width: 300px;height: 225px;position: relative;}
.overlay{width: 300px;height: 225px;background-color:black;position: absolute;bottom: -170px;opacity:0.7;transition:0.6s;}
.cam .camp{text-align: center;left: 50%;top: 10%;transform:translate(-50%,-50%);position: absolute;}
.cam_w{width: 300px;height: 225px;cursor:pointer; }
.cam_w:hover .overlay{bottom: 0;opacity:0.7;}
.cam h3{color:white;opacity:1;}
.cam p{color:white;position: absolute;top: 70px;line-height: 35px;}
/*content6 end*/ 


/*content7*/

.play{position: absolute;left: 120px;bottom: 250px;}
/*content7*/



.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
     box-shadow:none; 
     border:0 none; 
     background: #fff; 
}
.bx-wrapper .bx-pager.bx-default-pager a {background: #666; text-indent: -9999px; display: block;width: 15px;height: 15px;
    margin: -230px 15px -0px -1px;outline: 0; -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 10px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #f74237;}
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position: absolute;bottom: -30px;width: 180%;}

/*content sub*/
.sub_slide{width: 1200px;height: 60px;margin-bottom: 10px;position: relative;}
.subb{width: 299px;height: 60px;background-color:white;position: absolute;}
.subb>h3{float: left;line-height: 60px;padding: 0 30px;color:#00173d; }
.subb>span{line-height: 60px;}
.subb_slide{width: 899px;height: 60px;position: absolute;right: 0;line-height: 60px;background-color:white;}
.subb_slide>ul.slider02{}
.slider02>li{}
.slider02>li>h4{float: left;}
/*footer*/
#footer_wrap{width: 1200px;margin: 0 auto;}
#footer_wrap>.footer1{width: 800px;height: 40px;padding: 27px 0px;margin: 0 auto;}
#footer_wrap>.footer1>.footer01{}
#footer_wrap>.footer1>.footer01>ul{}
#footer_wrap>.footer1>.footer01>ul>li{float: left;text-align: center;border-right: 1px solid#444444;margin-right: 20px;}
#footer_wrap>.footer1>.footer01>ul>li:last-child{border-right:none;}
#footer_wrap>.footer1>.footer01>ul>li>h5>a{display: block;padding-right: 20px;color:#444444;}
#footer_wrap>.footer2{}
address{font-style:normal;color:#888888;padding: 15px 0;line-height: 25px;font-size:12px; }
address>p{}