@charset"utf-8";
/*header start*/
#header_wrapper{width:100%;height: 155px;background-color:green;margin: 0 auto;}
.header_wrap{width:100%;height: 90px;background-image: url(../images/head.jpg);background-size:cover;}
.headertop{width: 980px;height: 90px;_background-color:blue;margin: 0 auto;position: relative;}
.logo{position: absolute;left: 0;display: block;width: 150px;height: 45px;}
.headertop>fieldset{width: 290px;height: 35px;background-color: #fff;border-radius:20px;position: absolute;top: 30px;left:265px;position: absolute;border:none;}
.headertop>a{position: absolute;right:15%;top: 25px;color:white}
.sns_wrap{position: absolute;right: 0;top: 30px;}
.sns_wrap>li{float: left;padding: 0 2px;;}
.field{height: 30px;}
.blind{font-size:14px;font-weight:bold;line-height:30px;color:#333d3f;padding: 0 15px;}
.inp-field{border:none;width: 160px;height: 28px;margin: 4px 0;}
.menu_wrap{width:100%;height: 65px;background-color:#f9f9f9;border-bottom:5px solid #0e73a7;}
.main_menu{width: 980px;height: 60px;background-color:#f9f9f9;margin:0 auto;}
.main_menu>ul{}
.main_menu>ul>li{float: left;}
.main_menu>ul>li{border-right:1px solid#e9e9e9;font-weight:bold;font-family: 'Nanum Gothic Coding', monospace;}
.main_menu>ul>li>a{display: block;line-height: 60px;width: 162px;text-align: center;}
.main_menu>ul>li>a:hover{color:#0a5da1;}
.main_menu>ul>li:nth-child(1){border-left:1px solid#e9e9e9;}
/*header end*/
/*content start*/
#content{background:url(../images/bg01.jpg) no-repeat center;background-size:cover;}
.content_bgpt{background:url(../images/bg_pattern.png);}
.content_bg{width: 1200px;margin: 0 auto;_background-color:yellow;position: relative;}
/*backgroun animation*/
.bgi{width: 800px;height: 400px;position: absolute;right: 0;top: 100px;_background-color:orange;
_animation:boxmove 2s linear infinite alternate-reverse;}
		@keyframes boxmove{
			0%{right: 0;}
			50%{top: 45px;}
			100%{right: 0;}
		}
/*backgroun animation end*/
.con1_wrapper{width: 980px;height: 616px;_background-color:pink;margin: 0 auto;margin-bottom: 16px;padding-top: 56px;position: relative;}
.form_wrap{width: 483px;height: 300px;background-color: #fff;position: relative;float: left;}
.form_menu{width: 132px;height: 300px;position: absolute;left: 0;}
.form_menu>li{width: 132px;height: 75px;position: relative;}
.form_menu>li:nth-child(1){background-image: url(../images/li01_bg.png);}
.form_menu>li:nth-child(2){background-image: url(../images/li02_bg.png);}
.form_menu>li:nth-child(3){background-image: url(../images/li03_bg.png);}
.form_menu>li:nth-child(4){background-image: url(../images/li04_bg.png);}
.form_menu a{display: block;text-align:center;line-height: 75px;font-weight:bold;color:white;margin-left: 15px;}
.form_menu a:hover{color:#404040;}
.form_menu img{position: absolute;left: 12px;top: 25px;}
.on>a{color:#404040;}
.f_layer{width: 353px;right: 0;position: absolute;padding: 25px 35px;}
#golo{width: 255px;height: 30px;border-radius:5px;float: left;margin: 10px 0;}
.f_cell1{}
.cleft1{width:130px;height: 60px;float: left;}
#sdate{margin: 10px 0;width: 120px;height: 30px;border-radius:5px;border:1px solid gray;}
#edate{margin: 10px 0;width: 120px;height: 30px;border-radius:5px;border:1px solid gray;}
.cright1{width:130px;height: 60px;float: left;padding:0 5px;}
.f_cell2{margin: 10px 0;}
.cleft2{width: 125px;height: 66px;float: left;}
.cright2{width:70px;height: 60px;float: left;margin:10px 0;}

#cgrade{width: 115px;height: 30px;border-radius:5px;margin:10px 0;}
#num{width: 67px;height: 30px;border-radius:5px;border:1px solid gray;padding: 10px;}
.s_btn{position: absolute;bottom: 0;}
.s_btn:hover{opacity:0.8;}
.main_txt{height: 300px;font-size:62px;font-weight:bold;color:#152630;_background-color: #fff;margin-bottom: 20px;}
.sub_txt{font-size:28px;padding: 20px 0;}
.main_txt>span{border-bottom:5px solid#152630;}

.form_wrap{float: left;}
.con1_wrapper ul{}
.con_slider{_margin-top: 20px;}
.con_slider li{width: 233px;height: 240px;background-color:black;float: left;}
.con_slider li:nth-child(1){_background:url(../images/img01.jpg);margin-right: 16px;}
.con_slider li:nth-child(2){}

.bg_slide{_background-color:orange;position: absolute;right: 0;bottom: 0;}
.bg_i{position: relative;}
.sld{}
.con2_wrapper{width: 980px;height: 560px;background-color:skyblue;margin: 0 auto;}
.con2>li{width: 233px;height: 240px;background-color:violet;float: left;margin-right:16px;margin-bottom: 16px;}
.con2>li:last-child{margin-right:0;}
.con2>li:nth-child(4){margin-right:0;}
.con2>li:nth-child(1){background:url(../images/img03.jpg)no-repeat ;background-size:cover;}
.con2>li:nth-child(2){background:url(../images/img04.jpg)no-repeat ;background-size:cover;}
.con2>li:nth-child(3){background-color:black;}
.con2>li:nth-child(4){background-color: #fff;}
.con2>li:nth-child(5){background:url(../images/img07.jpg)no-repeat ;background-size:cover;}
.con2>li:nth-child(6){background:url(../images/img08.jpg)no-repeat center;background-size:cover;}
.con2>li:nth-child(7){background:url(../images/img09.jpg)no-repeat ;background-size:cover;}
.con2>li:nth-child(8){background:url(../images/img10.jpg)no-repeat right;background-size:cover;}
/*content start*/
/*content1,2*/
.img_wrapper{position: relative;width: 233px;height: 240px;overflow: hidden;}
.img_wrapper>ul{}
.img_wrapper li{}
.img_w{width: 233px;height: 190px;position: absolute;_background-color: #fff;}
.img_wrapper:hover .img01{transform:scale(1.2);opacity:0.9;}
.img_wrapper:hover .txt_w01{_display: block;transform:translate(0px,0px);}
.img_wrapper:hover .img02{transform:scale(1.2);opacity:0.9;}
.img_wrapper .img01{position: absolute;transition:0.6s;}
.img_wrapper .img02{position: absolute;transition:0.6s;}
.txt_w01{_display: none;;width: 135px;height: 30px;background-image: url(../images/con1_bg.png);opacity:0.9;/*background-color: #fff;opacity:0.7;border-radius:15px;*/position: absolute;bottom: 55px;
	line-height: 25px;padding:0 10px;font-size:12px;transform:translate(-300px,0px);transition:0.8s;}
.txt_bg{width: 233px;height: 50px;background-color: #152630;position: absolute;bottom: 0;}
.txt_bg a{line-height: 48px;color:white;padding: 21px;font-size:17px;}
.txt_bg span{color:#6ec566;padding: 14px;}
.txt_bg img{right: 19px;top: 17px;position: absolute;}
/*content1 end*/
/*content*/
/*content5-3 start*/
.img_wrapper{position: relative;width: 233px;height: 240px;overflow: hidden;}
.img_w3{width: 233px;height: 240px;position: absolute;_background-color: #fff;}
.img_wrapper:hover .img05{transform:translate(0px,-18px);}
.img_wrapper .img05{position: absolute;transition:0.7s;}
.txt_w3{width: 233px;height: 132px;position: absolute;top: 0;text-align: center;_font-weight:bold;padding: 15px;font-size:21px;color: white;}
.txt_bg3{width: 233px;height: 65px;background-color:#282633;position: absolute;bottom: 0;}
.txt_bg3 a{color:white;font-size:17px;}
.txt_bg3 span{color:#6ec566;padding: 14px;}
/*content5-3 end*/
/*content6-4 start*/
.img_wr4{position: relative;width: 233px;height: 240px;overflow: hidden;}
.img_w4{width: 233px;height: 240px;position: absolute;background-color: #f5f3f4;}
.img_wr4:hover .img06{transform:scale(1.0);}
.img_w4 .img06{position: absolute;transition:0.8s;transform:scale(0.9);}
.txt_w4{width: 233px;height: 132px;position: absolute;top: 0;}
.txt_bg4{width: 233px;height: 65px;background-color: #44619d;position: absolute;bottom: 0;}
.txt_bg4 a{_line-height: 48px;color:white;font-size:17px;display: block;}
.txt_bg4 p{_line-height: 48px;color:white;font-size:17px;color:#dbecff;}
/*content6-4 end*/
/*content end*/
/*footer start*/
/*footer end*/